# PROJECT03

In [46]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [47]:
DF=pd.read_csv("E:/vusialisation_project/medical_examination.csv")
df=pd.DataFrame(DF)
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

##  question 1

Add an overweight column to the data. To determine if a person is overweight, first calculate their BMI by dividing their weight in kilograms by the square of their height in meters. If that value is > 25 then the person is overweight. Use the value 0 for NOT overweight and the value 1 for overweight

In [48]:
height=df["height"]
weight=df["weight"]
df["bmi"]=(df["weight"]/((df["height"]/100)**2))
bmi=df["bmi"]
df["bmi"].value_counts(ascending=True)

bmi
50.472681      1
46.712803      1
50.891795      1
43.786982      1
33.376654      1
            ...
22.038567    358
25.711662    363
24.221453    489
23.437500    651
23.875115    943
Name: count, Length: 3808, dtype: int64

In [49]:
df['overweight'] = np.where(df['bmi'] > 25, 1, 0)
df['overweight'].value_counts()

overweight
1    43546
0    26454
Name: count, dtype: int64

## question 2

Normalize the data by making 0 always good and 1 always bad. If the value of cholesterol or gluc is 1, make the value 0. If the value is more than 1, make the value 1.

In [50]:
cholesterol=df['cholesterol']
cholesterol
df['cholesterol'].value_counts()

cholesterol
1    52385
2     9549
3     8066
Name: count, dtype: int64

In [51]:
gluc=df["gluc"]
gluc
df["gluc"].value_counts()

gluc
1    59479
3     5331
2     5190
Name: count, dtype: int64

In [52]:
normalization=[]
dn=df[(df["cholesterol"]==1)| (df["gluc"]==1)]
print(dn.count())
df["normalization"]=np.where((df["cholesterol"]==1)| (df["gluc"]==1),0,1)
df["normalization"].value_counts()

id             63192
age            63192
sex            63192
height         63192
weight         63192
ap_hi          63192
ap_lo          63192
cholesterol    63192
gluc           63192
smoke          63192
alco           63192
active         63192
cardio         63192
bmi            63192
overweight     63192
dtype: int64

normalization
0    63192
1     6808
Name: count, dtype: int64

## question 03

Convert the data into long format and create a chart that shows the value counts of the categorical features using seaborn's catplot(). The dataset should be split by Cardio so there is one chart for each cardio value. The chart should look like examples/Figure_1.png.

Create DataFrame for cat plot using `pd.melt` using just the values from 'cholesterol', 'gluc', 'smoke', 'alco', 'active', and 'overweight'.

In [ ]:
df_cat = pd.melt(df, 
                id_vars=['cardio'], 
                value_vars=['cholesterol', 'gluc', 'smoke', 'alco', 'active', 'overweight'],
                var_name='variable',
                value_name='values')
print(df_cat)

Group and reformat the data in df_cat to split it by cardio. Show the counts of each feature. You will have to rename one of the columns for the catplot to work correctly.

In [80]:

# Grouper et compter les occurrences
df_cat_cor = df_cat.groupby(["variable", "values"])["values"].count().to_frame()
df_cat_cor = df_cat_cor.rename(columns={"values": "total"})
df_cat_cor.reset_index(inplace=True)
print(pd.DataFrame(df_cat_cor))

       variable  values  total
0        active       0  13739
1        active       1  56261
2          alco       0  66236
3          alco       1   3764
4   cholesterol       1  52385
5   cholesterol       2   9549
6   cholesterol       3   8066
7          gluc       1  59479
8          gluc       2   5190
9          gluc       3   5331
10   overweight       0  26454
11   overweight       1  43546
12        smoke       0  63831
13        smoke       1   6169

Convert the data into long format and create a chart that shows the value counts of the categorical features using the following method provided by the seaborn library import : sns.catplot()